openapi: 3.0.3
info:
  title: Async Automatic1111 Drop-in Replacement API with Civitai Metadata and Webhook Key
  version: 2.4.0
servers:
  - url: https://ai-proxy.svc.cklio.com/
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: "Token"
  schemas:
    ErrorItem:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        error:
          type: string
      required: [ uuid, error ]
    AssetImage:
      type: object
      description: Image metadata associated with an asset
      properties:
        url:
          type: string
          format: uri
        is_nsfw:
          type: boolean
          description: Whether the image is marked as NSFW
        width:
          type: integer
          nullable: true
        height:
          type: integer
          nullable: true
        meta:
          type: object
          nullable: true
          additionalProperties: true
      required: [ url ]
    AssetDownloadRequest:
      type: object
      required: [ kind, url ]
      properties:
        kind:
          type: string
          enum: [ model, lora ]
          description: Type of asset to download
        url:
          type: string
          format: uri
          description: Source URL of the model or LoRA. If this is a Civitai URL, the worker should use the Civitai API to download it.

    AssetResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        kind:
          type: string
          enum: [ model, lora ]
        name:
          type: string
          nullable: true
        source_url:
          type: string
          format: uri
        image_url:
          type: string
          format: uri
          nullable: true
        images:
          type: array
          description: Optional additional images related to the asset
          items:
            $ref: '#/components/schemas/AssetImage'
        example_prompt:
          type: string
          nullable: true
        min:
          type: number
          format: float
        max:
          type: number
          format: float
        local_path:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    JobUUIDResponse:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
    JobSummary:
      type: object
      properties:
        uuid:
          type: string
          format: uuid
        job_status:
          type: string
          enum:
            - queued
            - processing
            - webhook
            - completed
            - error
            - canceled
        progress:
          type: number
          format: float
          minimum: 0
          maximum: 1
        type:
          type: string
          description: Kind of job inferred from the request
          enum: [ user-download, florence, img2img, txt2img ]
        created_at:
          type: string
          format: date-time
          description: Timestamp when the job was enqueued
    JobProgressResponse:
      allOf:
        - $ref: '#/components/schemas/JobSummary'
        - type: object
          properties:
            images:
              type: array
              items:
                type: string
                description: Base64-encoded images (empty until complete)
            info:
              type: string
              nullable: true
              description: Additional info or error message
    ModelListResponse:
      type: object
      properties:
        models:
          type: array
          items:
            allOf:
              - type: object
                properties:
                  civitai:
                    type: object
                    nullable: true
                    description: Additional Civitai metadata object
    LoraListResponse:
      type: object
      properties:
        loras:
          type: array
          items:
            allOf:
              - type: object
                properties:
                  civitai:
                    type: object
                    nullable: true
                    description: Additional Civitai metadata object
    FlorenceRequest:
      type: object
      required: [ imageUrl, task ]
      properties:
        imageUrl:
          type: string
          format: uri
          description: Publicly accessible image URL to analyze
        mode:
          type: string
          enum: [ "Single task", "Cascaded task" ]
          description: Task mode to set in Florence UI. Defaults based on task.
          nullable: true
        task:
          type: string
          enum:
            - "More Detailed Caption + Grounding"
            - "Referring Expression Segmentation"
          description: Florence task to run
        prompt:
          type: string
          nullable: true
          description: Optional prompt (used for Referring Expression Segmentation). Leave empty for caption+grounding.
        webhookUrl:
          type: string
          format: uri
          nullable: true
          description: Optional webhook URL to receive job completion notification. When provided, the server sets job_status to "webhook" and only marks it "completed" after the webhook responds with a 2xx status.
        webhookKey:
          type: string
          nullable: true

    WorkflowStep:
      type: string
      description: A step in a workflow process

    WorkflowResponse:
      type: object
      properties:
        workflow:
          type: string
          description: The name of the workflow
        steps:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowStep'
          description: The steps in the workflow process

paths:
  /sdapi/v1/assets/download:
    post:
      summary: Request download/registration of a model or LoRA
      description: |
        Enqueue a download task for a model or LoRA using the jobs table. The initial request only accepts kind and url.
        A background worker is expected to download the asset. If the URL is from civitai.com, the worker should use the Civitai API.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetDownloadRequest'
      responses:
        '202':
          description: Accepted. Download job has been enqueued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobUUIDResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string

  /sdapi/v1/assets/{id}:
    get:
      summary: Get asset download/registry entry
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Asset entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '404':
          description: Not found

  /sdapi/v1/assets:
    get:
      summary: List assets
      description: Returns all assets. Optionally filter by kind.
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: kind
          required: false
          schema:
            type: string
            enum: [ model, lora ]
          description: Optional filter to return only models or only loras
      responses:
        '200':
          description: List of assets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssetResponse'

  /sdapi/v1/errors:
    get:
      summary: List recent job errors
      description: Returns recent jobs with status=error. Most recent first.
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 50
          description: Maximum number of error items to return (1-500)
      responses:
        '200':
          description: Recent errors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ErrorItem'
  /sdapi/v1/txt2img:
    post:
      summary: Submit txt2img generation job (async)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: './automatic1111.spec.json#/components/schemas/StableDiffusionProcessingTxt2Img'
                - type: object
                  properties:
                    webhookUrl:
                      type: string
                      format: uri
                      nullable: true
                      description: Optional webhook URL to receive job completion notification. When provided, the server sets job_status to "webhook" and only marks it "completed" after the webhook responds with a 2xx status.
                    webhookKey:
                      type: string
                      nullable: true
                      description: Optional secret key sent with webhook for authentication
      responses:
        '202':
          description: Job accepted; returns job UUID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobUUIDResponse'

  /sdapi/v1/img2img:
    post:
      summary: Submit img2img generation job (async)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: './automatic1111.spec.json#/components/schemas/StableDiffusionProcessingImg2Img'
                - type: object
                  properties:
                    webhookUrl:
                      type: string
                      format: uri
                      nullable: true
                      description: Optional webhook URL to receive job completion notification. When provided, the server sets job_status to "webhook" and only marks it "completed" after the webhook responds with a 2xx status.
                    webhookKey:
                      type: string
                      nullable: true
      responses:
        '202':
          description: Job accepted; returns job UUID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobUUIDResponse'

  /sdapi/v1/jobs:
    get:
      summary: List active jobs (queued, processing, or webhook) with progress summary
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of active jobs (queued, processing, or webhook) and their progress. Jobs in "webhook" have finished generation and are awaiting a successful (2xx) webhook response before being marked as completed.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobSummary'

  /sdapi/v1/jobs/{uuid}:
    get:
      summary: Check detailed job progress and results
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: uuid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Job progress data with images/base64 if completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobProgressResponse'
        '404':
          description: Job not found

    delete:
      summary: Cancel a queued or running job by UUID
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: uuid
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Job cancelled successfully
        '404':
          description: Job not found or already completed

  /sdapi/v1/sd-models:
    get:
      summary: Get list of available models/checkpoints
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of models with Civitai metadata if available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelListResponse'

  /sdapi/v1/sd-models/{modelId}:
    get:
      summary: Get details about a specific model/checkpoint (with Civitai metadata)
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: modelId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Model details
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      civitai:
                        type: object
                        nullable: true
                        description: Additional Civitai metadata object
        '404':
          description: Model not found

  /sdapi/v1/loras:
    get:
      summary: Get list of available LoRas
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of LoRas with Civitai metadata if available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoraListResponse'

  /sdapi/v1/loras/{loraId}:
    get:
      summary: Get details about a specific LoRa (with Civitai metadata)
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: loraId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: LoRa details
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      civitai:
                        type: object
                        nullable: true
                        description: Additional Civitai metadata object
        '404':
          description: LoRa not found

  /sdapi/v1/florence:
    post:
      summary: Submit a Florence-2 analysis job (async)
      description: |
        Queues a Florence-2 job that will call a backing Gradio app using two endpoints:
        1) POST /call/update_task_dropdown with the selected mode (Single or Cascaded task)
        2) POST /call/process_image with an image URL, the task name, prompt, and model "microsoft/Florence-2-large".

        Upon completion, the job result contains images[0] for the output image (if any) and info with the output text.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlorenceRequest'
      responses:
        '202':
          description: Job accepted; returns job UUID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobUUIDResponse'

  /sdapi/v1/workflows:
    get:
      summary: Get list of available workflows and their steps
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of workflows with their steps
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkflowResponse'
